img#logoUpe{
    position: absolute;
    height: 350px;
    width: 350px;
       
}

img#logoVest{
    width: 100%;
    height: 100%;
    filter:alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity:.50;
    position: absolute;

}

.container{
    margin: 50px 0px 0px 450px;
    position: relative;
    z-index:9999;
    float: left;
}

.img-colegio{
    width: 20%;
    height: 20%;
}

